/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

#map {
  width: 100%;
  height: 100vh;
}



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

body {
  background: #353e49;
}

#login {
  text-align: center;

  .full-height {
    display: table;
    height: 100vh;
  }

  .full-height-centered {
    display: table-cell;
    vertical-align: middle;
    padding: 40px 0;
  }

  img {
    margin-bottom: 25px;
  }

  h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 25px;
  }

  input, button {
    border: 0;
    padding: 0;
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
  }

  #username {
    background-color: #23282f;
    color: #807f7f;
    margin-bottom: 10px;
  }

  button {
    background-color: #fdc905;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
    color: #fff;
  }
}

#menu-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #353e49;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: .5s all linear;
  max-height: 500px;

  .name {
    width: 100%;
    line-height: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    max-height: 150px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .user-meta, .acions, .options {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    color: #fff;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    > div {
      float: left;
      width: 50%;
      cursor: pointer;
    }

    .cost {
      font-size: 15px;
    }

    .gold {
      color: #fdc905;
    }

    .build {
      line-height: 18px;
      padding-top: 15px;
    }

    .attack {
      color: #E74C3C;
    }

    .third {
      width: 33.33%;
      &:hover {
        background-color: darkmagenta;
      }
    }
  }

  .user-meta.clickable {
    cursor: pointer;
    &:hover {
      background-color: darkmagenta;
    }
    &.disabled {
      pointer-events: none;
      color: grey;
      &:hover {
        background-color: #353e49;
      }
    }
  }
}

.leaflet-control-attribution.leaflet-control, .leaflet-control-zoom {
  display: none !important;
}