<div id="menu-navigation" class="text-center" ng-show="object.id">
  <!-- Interacting with user -->
  <div ng-if="object.name">
    <div class="col-xs-12">User: {{ object.name }}</div>
    <div class="col-xs-4">Užpulti</div>
    <div class="col-xs-4">Susidraugauti</div>
    <div class="col-xs-4">Pakviesti alaus</div>
  </div>
  <!-- Interacting with estate -->
  <div ng-if="object.route === 'estates'">
    <div class="col-xs-12">Estate: {{ object.id }}</div>
    <div class="col-xs-4">Ieškoti pinigų</div>
    <div class="col-xs-4">Apvogti</div>
    <div class="col-xs-4">Statyti trobą</div>
  </div>
</div>
