<div id="top-info" ng-show="object.id && options.length < 1">
  <img src="../assets/images/cancel.svg" id="close" ng-click="cancel()" />

  <div class="message">
    <!-- Tavo hata -->
    <div ng-if="object.route === 'estates' && object.player && object.player.id == player.id">
      <img src="../assets/images/your-place.png" class="header-image" />
      Your place
      <!-- {{ object.name }} -->
    </div>
    <!-- Netavo hata -->
    <div ng-if="object.route === 'estates' && object.player && object.player.id != player.id">
      Not your place
      <!-- Ne: {{ object.name }} -->
    </div>
    <!-- Laisva hata -->
    <div ng-if="object.route === 'estates' && !object.player">
      <img src="../assets/images/open-place.png" class="header-image" />
      Open place
      <!-- Laisva: {{ object.name }} -->
    </div>
    <!-- Priešininkas -->
    <div ng-if="object.route === 'players'">
      <div ng-if="object.id != player.id">
        <img src="../assets/images/swords.svg" id="swords" />
        {{ object.name }}
      </div>
      <div ng-if="object.id === player.id">
        You
      </div>
    </div>
  </div>
</div>
<div id="sub-info" ng-show="object.route === 'estates'">
  <div ng-show="object.route === 'estates'">
    {{ object.name }}
  </div>
  <div ng-show="object.route === 'players'">
    User: {{ object.name }}
  </div>
</div>
<div id="menu-navigation" class="text-center" ng-show="object.id || options.length">

  <!-- Interacting with user -->
  <div ng-if="object.route === 'players'">
    <!-- <div class="name"><span>User: {{ object.name }}</span></div> -->
    <!--<div class="col-xs-4">Užpulti</div>-->
    <!--<div class="col-xs-4">Susidraugauti</div>-->
    <!--<div class="col-xs-4">Pakviesti alaus</div>-->

    <div class="user-meta" ng-if='!actions.inviteSent && !actions.challenged'>
      <div class="gold">Gold: {{ object.gold }}</div>
      <div class="land">Land: 43km</div>
      <div class="attack text-center text-danger" ng-click="attackUser(object)" ng-if="object.id != player.id">Kariauti</div>
      <div class="invite" ng-click="invite(object)" ng-if="object.id != player.id">Pakviesti į gaują</div>
    </div>
    <div ng-if='actions.inviteSent && !actions.fighting' class='user-meta text-center'>
      <div class='land full'>Waiting for response...</div>
    </div>
    <div ng-if='actions.challenged && !actions.fighting' class='user-meta text-center'>
      <div class='land full'>You have been challenged by {{ challenger.name }}!</div>
      <div class='land' ng-click='respondToChallenge(true)'>Accept</div>
      <div class='land' ng-click='respondToChallenge(false)'>Decline</div>
    </div>
    <div ng-if='actions.fighting' class='user-meta'>
      <div class="third" ng-click='fightBack(1)' ng-class='{ active: $scoper.userResponse === 1 }'>Rock</div>
      <div class="third" ng-click='fightBack(2)' ng-class='{ active: $scoper.userResponse === 2 }'>Paper</div>
      <div class="third" ng-click='fightBack(3)' ng-class='{ active: $scoper.userResponse === 3 }'>Scissors</div>
    </div>
    <div class='cards' ng-if='message'>
      <ul>
        <li>
          {{ message }}
        </li>
      </ul>
    </div>
  </div>
  <!-- Interacting with estate -->
  <div ng-if="object.route === 'estates'">
    <div class='menu' ng-if='!estateTypes'>

      <!-- <div class="name"><span>{{ object.player ? object.player.name + "'s" : '' }} {{ object.name }}</span></div> -->
      <div class="user-meta">
        <div class="gold">Gold: 420</div>
        <!-- <div class="land">Land: {{ object.area }}U</div> -->
      </div>
      <div class="cards" ng-if="object.player && object.player.id != player.id">
        <ul>
          <li class="attack text-center text-red options" ng-click="attack(object)" ng-class='{ disabled: !nearby(object) }'
               ng-if='object.player.id !== player.id'>
              Atakuoti trobą
          </li>
        </ul>
      </div>
      <div class="cards" ng-if="object.player && object.player.id == player.id">
        <ul>
          <li class="attack text-center options" ng-click="cancel()" ng-class='{ disabled: !nearby(object) }'>
              Upgrade trobą
          </li>
        </ul>
      </div>
      <div class="cards" ng-if='!object.player'>
        <ul>
          <li class="build text-center option" ng-click='getEstateTypes(object)' ng-if='!object.player'
               ng-class='{ disabled: !nearby(object) }'>
              Statyti trobą
          </li>
        </ul>
      </div>

      <div class="user-meta" ng-if='object.player_id !== player.id'>

        <!-- <div class="build text-center" ng-click='getEstateTypes(object)' ng-if='!object.player'
             ng-class='{ disabled: !nearby(object) }'>
          Statyti trobą
        </div>
        <div class="attack text-center text-danger" ng-click="attack(object)" ng-class='{ disabled: !nearby(object) }'
             ng-if='object.player.id !== player.id'>Atakuoti trobą
        </div> -->
      </div>
    </div>
    <div class='user-meta clickable' ng-class='{ disabled: !canAfford(type) }' ng-repeat='type in estateTypes'
         ng-click='buyEstate(type, object)'>
      {{ type.name }} <span class="text-yellow">{{ type.cost }} Coins</span>
      <!-- build_time: 0 -->
      <!-- cost: 31
      health: 31
      health_regen: 2
      id: 1
      kind: "fortress"
      level: 1
      name: "Hut"
      resource_rate: 16 -->
    </div>
  </div>
</div>

<div class="cards" ng-if="options.length">
  <ul>
    <li ng-repeat="option in options" ng-click='setActive(option)' class="options">
      {{ (option.route === 'estates' ? "" : "") + option.name }}
    </li>
  </ul>
</div>
